<!DOCTYPE html>
<html lang="en">

<head>
    <title>Leave the marks</title>
</head>

<body>
<form class="margin-base-vertical" method="post" action="/register">
					<p class="input-group ">
						<span class="input-group-addon"><span class="icon-user"></span></span>
						<input type="text" required class="form-control input-lg" name="username" placeholder="username" />
					</p>

          <p class="input-group ">
						<span class="input-group-addon"><span class="icon-envelope"></span></span>
						<input type="city" required class="form-control input-lg" name="city" placeholder="city" />
					</p>

          <p class="input-group ">
						<span class="input-group-addon"><span class="icon-key"></span></span>
						<input type="dob" required class="form-control input-lg" name="dob" placeholder="dob" />
					</p>

					<p class="help-block text-center">
            <small>We hate spams, so don't worrry</small>
          </p>

					<p class="text-center">
						<button type="submit" class="btn btn-success btn-lg">Create Account</button>
					</p>

				</form>
</body>

</html>
<!--65-->